<html>
  <%- include("partials/header")-%>
    <h1>Home</h1>
    <div>
        <h4>
            Hi, I am Bhavya Singh.
        </h4>
        <p>I write about my thoughts and experiences over here and i use this platform to connect with people. You can
            feel free to read out my Daily Blogs.
        </p>
        <p>Feel free to share your thoughts and contact with me.</p>
    </div>



    <%items.forEach(function(i){ %>
        <% ii=i.title %>
            <h1>
                <%=i.title%>
            </h1>
            <p>
                <%=i.post.substring(0,100)+"..."%> <a href="/posts/<%=i._id%>">Read More</a>
            </p>
            <% }) %>


                <%- include("partials/footer")-%>
   </html>
