<%- include("partials/header")-%>
<h1>About Me</h1>
<p>Hi. I’m Bhavya Singh. I’m a Student at MAIT pursuing my Bachelor's degree in Information Technology.

    For more than Two years, I’ve been trying to turn on lights, inspire people and teach them how to level up. This blog has been appearing daily for more than 5 months. One day, if we meet, I hope you’ll share with me your favorite posts. Even better, I’d like to hear about how a book or course helped you interact with the world differently and make a difference.

    Keep Reading & Enjoy.
</p>

<%- include("partials/footer")-%>